* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* Add styles here! */
body {
  /* writing-mode: vertical-lr; */
}

html,
body,
h2,
p {
  margin: 0;
  padding: 0;
}

p {
  margin-block-end: 16px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

header {
  padding-inline: 24px;
  padding-block: 64px 48px;
  border-block-end: 8px solid hsl(0deg, 0%, 40%);
}

.intro-chunk {
  max-inline-size: 360px;
}

.title {
  font-size: 2rem;
  margin-block-end: 48px;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  padding-block: 64px;
  margin-block-end: 96px;
}

.card {
  background: hsl(0deg, 0%, 100%);
  padding-block: 8px;
  padding-inline: 24px;
  border-block-end: 8px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  background: hsl(45deg, 100%, 50%);
  border-block-end: 8px solid hsl(45deg, 100%, 40%);
  padding-block: 8px;
  padding-inline: 32px;
  font-size: 1.5rem;
  margin-inline-start: -32px;
  margin-block-end: 24px;
  inline-size: fit-content;
}

.max-width-wrapper {
  max-inline-size: 760px;
  margin-inline: auto;
}

main > .max-width-wrapper {
  max-inline-size: 808px;
}
